*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
_notebooks/2021-04-22-Text-Representation.ipynb
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
